/*@font-face {
  font-family: 'Junicode';
  src: url('../font/Junicode.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Junicode';
  src: url('../font/Junicode-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Junicode';
  src: url('../font/Junicode-Bold.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Junicode';
  src: url('../font/Junicode-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
*/
body {
  font-family: 'JetBrains Mono', monospace;
  background-color: rgb(244, 218, 176);
}